project:
  type: website
  output-dir: docs

website:
  title: "Kayleigh Tompkins"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: research.qmd
        text: Research
      - href: Assignments.qmd
        text: Knowledge Mining Assignments

format:
  html:
    theme:
      - sandstone
      - brand
    css: styles.css
    toc: true

editor: visual

